<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.envyglit.chat">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.envyglit.chat.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.envyglit.chat.presentation.activities.splash.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.envyglit.chat.presentation.activities.login.LoginActivity" />
        <activity android:name="com.envyglit.chat.presentation.activities.chat.ChatActivity" />
        <activity android:name="com.envyglit.chat.presentation.activities.main.MainActivity" />
        <activity android:name="com.envyglit.chat.com.envyglit.users.ui.UsersActivity" />
        <activity android:name="com.envyglit.chat.presentation.activities.archive.ArchiveActivity" />
        <activity android:name="com.envyglit.chat.presentation.activities.profile.ProfileActivity" />
    </application>

</manifest>